# http://editorconfig.org


# Prettier 已覆盖以下配置：
# - indent_style
# - indent_size
# - end_of_line (由 Prettier 的 endOfLine 参数控制)

root = true

[*]
charset = utf-8 # 设置文件字符集为 utf-8
trim_trailing_whitespace = true # 去除行首的任意空白字符
insert_final_newline = true # 始终在文件末尾插入一个新行

[*.md]
max_line_length = off
trim_trailing_whitespace = false
